@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face
{
    font-family: Elsie;
    src: url(../Fonts/Elsie-Regular.otf);
}
html
{
    scroll-behavior: smooth;
}
body
{
      font-family: 'Poppins', sans-serif;
        overflow-x: hidden;
}
.header{
        background: #fff;
}
.cenbtn{
    display: block;
    text-align: center;
    margin: 0 auto;
}
.leafmobb{
    position: absolute;
    right: 0;
    top: -175px;
}


.padding
{
    margin-top: 100px;
}
.text
{
    position: absolute;
    top: 35%;
    left: 20%;
}
.owl-carousel .paddingl{
    padding-right: 30px;
}
.banner
{
    position: relative;
}
.text p
{
    line-height: 1.5;
}
.sticky.is-sticky {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
}
.btn
{
    border-radius: 10px;
    transition: all .3s ease;
    cursor: pointer;
        background: #006838;
            color: #fff;
}
.btn:hover
{
    box-shadow: 0px 0px 8px .1px rgba(0,109,61,0.4);
}
.headfont
{
   font-family: "Elsie";
    font-weight: 300;
    color: #006d3d;
    font-size: 3em;
}
.subfont
{
   font-family: "Elsie";
    font-weight: 300;
    color: #006d3d;
}
.para
{
    opacity: .7;
}
.about
{
    width: 60%;
    padding-left: 30px;
}
.right
{
    float: right;
}
.left
{
    float: left;
}
.paddingl
{
    padding-left: 120px;
}
.paddingr
{
    padding-right: 120px;
}
.center
{
    text-align: center;
}
.vcenter
{
    padding-top: 80px;
}
.marbot
{
	margin-bottom: 20px;
}
.martop
{
	margin-top: 100px;
}
.marcan
{
	margin-top: -100px;
}
.content
{
	width: 100%;
	text-align: center;
	margin-bottom: 0;
	position: absolute;
	bottom: -40px;
	background-color: rgba(255,255,255,0.5);
	transition: all .5s ease;
}
.con
{
	margin-top: 30px;
}
.con p 
{
	color: white;
}
.product
{
	position: relative;
	overflow: hidden;
}
.product:hover .content
{
	bottom: 0;
}
.spading
{
	padding-left: 40px;
}
form input[type=text]
{
	border-top: 0;
	border-left: 0;
	border-right: 0;
}
.connect img
{
	    width: 50px;
	padding: 5px;
}
.foot
{
	background-color: #006d3d;
}
.foot2
{
	background-color: #015932;
}
.foot2 p
{
	    margin-bottom: 0;
    color: white;
    padding: 12px 0;
    font-size: 15px;
}
@media screen and (min-device-width: 320px) and (max-device-width: 767px) { 
    .navbar-brand{
        display: contents;
    }
    .leafmob{
        display: none;
    }
    .testleaf{
        position: absolute;
    }
    .prod4{
        margin-top: 20px;
    }
    .pro6{
        margin: 20px 0;
    }
    .paddingl {
    padding-left: 16px;
}
.paddingr {
    padding-right: 23px;
    }
.padding {
    margin-top: 42px;
}
.mobcls{

    text-align: center;
    display: block;
    padding: 0px;
       margin: 14px auto;
       float: none;
}
.content{
    opacity: 0
}
.product
{
    position: relative;
    overflow: inherit;
}
.product:hover .content
{
     opacity: 1;
    bottom: 0;
}
.martop {
    margin-top: 20px;
    }
    .marcan{
        margin-top: 20px;
    }
    .prod6{
        margin: 20px 0;
    }
}
@media screen and (min-device-width: 768px) and (max-device-width: 992px) { 
    .product img{
            width: 100%;
    }
    .mobcls{
        padding-right: 0px;
    }
    }
@media screen and (min-device-width: 320px) and (max-device-width: 500px) { 
    .headfont {

    font-size: 1em;
}
.banner p{
        font-size: 10px;
    margin-bottom: 0px;
    }
    .banner .btn{
        font-size: .4rem;
    }
    .text{
        top: 0;
    }
}
@media screen and (min-device-width: 501px) and (max-device-width: 767px) {
    .headfont {
    font-size: 2em;
}
.banner p{
        font-size: 13px;
    margin-bottom: 4px;
}
.text {
    position: absolute;
    top: 1%;
}
}
